hr{
    border-bottom-width: 2px;
    border-color: black;
    margin-bottom: 1.5rem;
}

tbody{
    width: 100%;
}

button{
    margin-top: 3rem;
    width: 25rem;
    height: 5rem;
}

.noshows{
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

input{
    margin-top: 6rem;
}

.row{
    text-align: center;
}

.artistHeader{
    margin-top: 30rem;
}

#site-title{
    text-align: center;
    margin-top: 10rem;
}

#artistSearch::placeholder{
    text-align: center;
}

#citySearch::placeholder{
    text-align: center;
}

#cityNameLabel{
    text-align: center;
}

#artistNameLabel{
    text-align: center;
}
